@inherits System.Web.Mvc.WebViewPage

@using UBeer.Model

@{
    //ViewBag.Title = "UBeer";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-control">
    <div id="alert_zone"></div>

    
    <div class="container-info">        
        <div class="tab-content">
            Resent booking notification <br/>
            Thanks you
        </div>
    </div>

</div>

<script>
</script>