<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="Entities" connectionString="Data Source=.;Initial Catalog=UBeer;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />-->
    <!--<add name="Entities" connectionString="Data Source=.;Initial Catalog=UBeer;Persist Security Info=True;User ID=ubeer;Password=UBEER123###" providerName="System.Data.SqlClient" />-->
    <add name="Entities" connectionString="metadata=res://*/UBeer.csdl|res://*/UBeer.ssdl|res://*/UBeer.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;203.154.74.28, 14330&quot;;initial catalog=UBeer;persist security info=True;user id=ubeer;password=UBEER123###;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>