<?xml version="1.0"?>

<appSettings>

  <!-- App Version -->
  <add key="APP_Version" value="0.1.0" />
  <!--/ End App Version -->
  
  <add key="owin:appStartup" value="UBeer.API.Startup" />
  <add key="owin:AutomaticAppStartup" value="true" />
  
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />  
  
  <!-- Paging Configuration -->
  <add key="PageSize" value="10" />
  <!--/ End Paging Configuration -->
  
  <!-- MVC Default Page -->
  <add key="Default_Controller" value="Test" />
  <add key="Default_Controller_Action" value="Index" />
  <!--/ End MVC Default Page -->

  <!-- can turn on/off API token for debugging purpose -->
  <add key="IsAPITokenEnable" value="true" />

  <!-- flag if this is the production -->
  <add key="IsProduction" value="false" />

  <!--email subjects-->
  <add key="MessageEmailSubject" value="A message from UBeer support" />
  

  <!--Image size-->
  <add key="ImageWidth" value="1024" />
  <add key="ImageHeight" value="1024" />
  <add key="ImageWidthThumbnail" value="360" />
  <add key="ImageHeightThumbnail" value="360" />
  <add key="ImageSize" value="2097152" />
  <add key="ImageExtension" value=".gif,.png,.jpeg,.jpg" />
  
    <!--Video size-->
  <add key="VideoSize" value="20971520" />
  <add key="VideoExtension" value=".mp4" />

  <add key="JPEGCompressRate" value="40" />

  <add key="SupportEmail" value="support@UBeerthailand.com" />
  <add key="TechnicalSupportEmail" value="technicalsupport@UBeerthailand.com" />
  
  <!--URLs and Paths-->
  <add key="TempRelativeURL" value="Content/Temp/" />
  <add key="TempFilePath" value="Content\Temp\" />

  <!--<add key="WebURL" value="http://api.machucan.com/images/" />-->
  <add key="WebURL" value="http://api.socket10.com/images/" />
  <add key="WebFilePath" value="..\images_upload\" />

  <!--Export Excel-->
  <add key="ExportFileName" value="HashTagExport.xlsx" />
  <add key="ExportSheetName" value="Export" />
  
  <!--admin-->
  <add key="Username" value="admin" />
  <add key="Password" value="UBeer123###" />
  <add key="Token" value="d196d4c9-bd74-414e-ab93-6951ece203f8" />
  
</appSettings>