<?xml version="1.0"?>
<connectionStrings> 
  <!--<add name="Entities" connectionString="Data Source=203.154.74.28, 14330;Initial Catalog=UBeer;Persist Security Info=True;User ID=ubeer;Password=UBEER123###" providerName="System.Data.SqlClient" />-->
  <add name="Entities" connectionString="metadata=res://*/UBeer.csdl|res://*/UBeer.ssdl|res://*/UBeer.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;203.154.74.28, 14330&quot;;initial catalog=UBeer;persist security info=True;user id=ubeer;password=UBEER123###;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
</connectionStrings>