<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    
    <!--Facebook: using SHEENe app -->
    <add key="FacebookAppID" value="604511266235601" />
    <add key="FacebookSecretKey" value="1b31e11e659742e008bc6dc1d9eadfcd" />
    <add key="FacebookToken" value="EAAIlzL9JZANEBAInnhLqzCf6e8VoNiSWudcuxJxmhhhPvQg0Q5TOWa8BwYadO4mjXtFPajczjrSgTiOmYjAvWmZAxCL8e62OZBmZBG3df9vg0KXdtxAMwWSnweqSPeMXkGFdZCkmBtvHYx5p2XHukyZBVzvnFYTzonGp5ZCqKvYSDTZB61p9s8LK" />
    <add key="FacebookFanpageID" value="311732052645992" />
    
    <!--Twitter: using Listen21 app -->
    <add key="TwitterConsumerKey" value="d7vRJiyE3VSVn1Hc0CocRw" />
    <add key="TwitterConsumerSecret" value="blN6WNXUrH5YO7HQyk7ORzAee4uYEQcgZ3lCUqcZ6qM" />
    <add key="TwitterAccessToken" value="51412953-UcC5l9kqyRBij2DlzJQpFoUiAQqRszdi7mh37DPm4" />
    <add key="TwitterAccessTokenSecret" value="rx6YlpUt2k8fuTISJ1GadlMwryvR64DGuKrQRiWyg" />

    <add key="EmailForSendError" value="ploy@socket9.com,pop@socket9.com" />
    <add key="SubjectEmailError" value="HealthChecker:Error:" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@navigothailand.com">
        <network host="mail.navigothailand.com" port="25" userName="noreply@navigothailand.com" password="NVGNoReply" enableSsl="false" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--<add name="Entities" connectionString="Data Source=203.154.74.28, 14330;Initial Catalog=UBeer;Persist Security Info=True;User ID=ubeer;Password=UBEER123###" providerName="System.Data.SqlClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/UBeer.csdl|res://*/UBeer.ssdl|res://*/UBeer.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;localhost, 14330&quot;;initial catalog=UBeer;persist security info=True;user id=ubeer;password=UBEER123###;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/UBeer.csdl|res://*/UBeer.ssdl|res://*/UBeer.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;203.154.74.28, 14330&quot;;initial catalog=UBeer;persist security info=True;user id=ubeer;password=UBEER123###;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/UBeer.csdl|res://*/UBeer.ssdl|res://*/UBeer.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;203.154.74.28, 14330&quot;;initial catalog=UBeer;persist security info=True;user id=ubeer;password=UBEER123###;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/UBeer.csdl|res://*/UBeer.ssdl|res://*/UBeer.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;.&quot;;initial catalog=UBeer;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
