@inherits System.Web.Mvc.WebViewPage
@using UBeer.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="display-table">
    ____________________________________________@ViewBag.count
</div>

<script>
</script>